.wrapper {
   width: 100%; /*! меняется для ПК(70%) */
   margin: 0 auto;
}
.accordion {
   padding: .8em 1em 5em 1em; /*! меняется для ПК */
   background: #F5F5EB;
}
.accordion__title{
   font-size: 2em; /*! меняется для ПК(3em) */
   line-height: 1.5em;
   border-bottom: 2px solid #cccccc80;
}
.accordionItem {
}
.accordionItem__input{
   display:none;
}
.accordionItem__trigger {
   display: flex;
   flex-direction: column;
   max-height: 3em; /*! меняется для 820(2.5em) ПК(2em) */
   color: #0059D9;
   overflow: hidden;
   transition: max-height 0.4s ease-in-out;
}
.accordion li:not(:last-child) {
   border-bottom: 2px solid #cccccc80;
}

.accordionItem__textCross{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.9em 0; /*! меняется для 820() ПК() */
   width: 100%;
}
.accordionItem__textCross>p{
   font-size: 1.3em; /*! меняется для ПК() */
   transition: color .2s;
}

.cross{
   width: 12px;
   height: 12px;
   opacity: 1; /*! меняется для ПК() */
   transform: rotate(45deg);
}

.accordionItem__content {
   max-width: 80%; /*! меняется для ПК(50%-40%) */
   height: auto;
   margin: 1em auto 1em auto;
   transition: .3s;
}
.accordionItem__content>img{
   width: 100%;
   opacity: 1;
   transition: opacity .2s;
}

/* checked */
.accordionItem__input:checked~.accordionItem__trigger{
   max-height: 1000px;
   transition: max-height .8s ease-in-out;
}
.accordionItem__input:checked~.accordionItem__trigger p{
   color:#000;
}
.accordionItem__input:checked~.accordionItem__trigger .cross{
   transform: rotate(90deg);
}


/* active */
.accordionItem__trigger:active .accordionItem__textCross>p{
   color: #0059D9;
}
.accordionItem__trigger:active .cross svg path{
   fill: #0059D9;
   transition: fill .2s;
}
.accordionItem__trigger:active .accordionItem__content>img{
   opacity: 0.7;
}

@media(min-width: 820px){
   .accordion {
      padding: .8em 2em 5em 2em;
   }
   .accordion__title{
      font-size: 1.8em;
   }
   .accordionItem__trigger {
      max-height: 2.5em;
   }
   .accordionItem__textCross{
      padding: 0.7em 0;
   }
   .accordionItem__textCross>p{
      font-size: 1.1em;
   }
   .accordionItem__content {
      max-width: 50%;
   }
}

