.wrapBayan {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 50em;
   margin: 0 auto;
   padding: 2em 0;
   background: #F6F6EC;
}
.wrapBayan__blockTitle {
   width: 90%;
   border-bottom: 2px solid #cccccc80;
}
.wrapBayan__title {
   font-size: 1.6em;
   line-height: 2em;
}
.blockAccordion {
   width: 90%;
}

.blockAccordion a{
   color: #005cdd;
   /* transition: all .2s; */
}
.blockAccordion__blockMem {
}

.blockAccordion__textMem {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 3em;
}
.blockAccordion__blockImg {
   position: relative;
   display: flex;
   justify-content: center;
   overflow: hidden;
   border-bottom: 2px solid #cccccc80;
}

.blockAccordion__img {
   width: 0;
   transition: width .5s, opacity .1s;
}

.blockAccordion__cross{
   opacity: 0;
   transform: rotate(45deg);
   /* transition: all .2s; */
}

/* hover */
.blockAccordion:hover a{
   color: #000;
}
.blockAccordion:hover .blockAccordion__cross{
   opacity: 1;
}
.blockAccordion__blockMem:hover .blockAccordion__img{
   width: 80%;
   padding-bottom: 1em;
}
.blockAccordion__blockMem:hover .blockAccordion__cross{
   transform: rotate(90deg)
}

/* active */

.blockAccordion__img:target{
   width: 80%;
   padding-bottom: 1em;
}
.blockAccordion__blockMem:active .blockAccordion__text{
   color:#005cdd;
}
.blockAccordion__blockMem:active .blockAccordion__cross svg path{
   fill:#005cdd;
}
.blockAccordion__blockMem:active .blockAccordion__img{
   opacity: .7;
} 
